NET "clk50" LOC = E12;
NET "clk50" IOSTANDARD = LVCMOS33;
NET "ext_rst" LOC = T15;
NET "ext_rst" IOSTANDARD = LVCMOS33;
NET "ext_rst" PULLDOWN;
NET "dump_memory" LOC = T14 | IOSTANDARD=LVCMOS33 | PULLDOWN;

NET "led[7]" LOC = W21;
NET "led[7]" IOSTANDARD = LVCMOS33;
NET "led[7]" DRIVE = 8;
NET "led[7]" SLEW = FAST;
NET "led[6]" LOC = Y22;
NET "led[6]" IOSTANDARD = LVCMOS33;
NET "led[6]" DRIVE = 8;
NET "led[6]" SLEW = FAST;
NET "led[5]" LOC = V20;
NET "led[5]" IOSTANDARD = LVCMOS33;
NET "led[5]" DRIVE = 8;
NET "led[5]" SLEW = FAST;
NET "led[4]" LOC = V19;
NET "led[4]" IOSTANDARD = LVCMOS33;
NET "led[4]" DRIVE = 8;
NET "led[4]" SLEW = FAST;
NET "led[3]" LOC = U19;
NET "led[3]" IOSTANDARD = LVCMOS33;
NET "led[3]" DRIVE = 8;
NET "led[3]" SLEW = FAST;
NET "led[2]" LOC = U20;
NET "led[2]" IOSTANDARD = LVCMOS33;
NET "led[2]" DRIVE = 8;
NET "led[2]" SLEW = FAST;
NET "led[1]" LOC = T19;
NET "led[1]" IOSTANDARD = LVCMOS33;
NET "led[1]" DRIVE = 8;
NET "led[1]" SLEW = FAST;
NET "led[0]" LOC = R20;
NET "led[0]" IOSTANDARD = LVCMOS33;
NET "led[0]" DRIVE = 8;
NET "led[0]" SLEW = FAST;

# slide switches
NET "ledcfg[0]" LOC = V8;
NET "ledcfg[0]" IOSTANDARD = LVCMOS33;
NET "ledcfg[1]" LOC = U10;
NET "ledcfg[1]" IOSTANDARD = LVCMOS33;
NET "ledcfg[2]" LOC = U8;
NET "ledcfg[2]" IOSTANDARD = LVCMOS33;
NET "uart_speed" LOC = T9;
NET "uart_speed" IOSTANDARD = LVCMOS33;

# RS232
NET "uart_rx" LOC = E16;
NET "uart_rx" IOSTANDARD = LVCMOS33;
NET "uart_tx" LOC = F15;
NET "uart_tx" IOSTANDARD = LVCMOS33;
NET "uart_tx" DRIVE = 8;
NET "uart_tx" SLEW = SLOW;

NET "uart_rx" OFFSET = IN 10 ns VALID 20 ns BEFORE "clk50" RISING;

# YM pins lateral board
# outputs from YM2151
NET "ym_ct1"   LOC = AB7 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_ct2"   LOC = AB8 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_p1"    LOC = AA6 | CLOCK_DEDICATED_ROUTE = FALSE | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_sh2"   LOC = Y7   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_sh1"   LOC = AA10 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_so"    LOC = AA8  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_irq_n" LOC = AB6 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
#Created by Constraints Editor (xc3s700a-fg484-4) - 2015/01/04
NET "ym_p1" TNM_NET = "ym_p1";
TIMESPEC TS_ym_p1 = PERIOD "ym_p1" 560 ns HIGH 50% INPUT_JITTER 15 ns;

NET "dir" 	  LOC = B6  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

# YM2151 data bus 
NET "ym_d[7]" LOC = A6  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_d[6]" LOC = A7  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_d[5]" LOC = A8  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_d[4]" LOC = A9  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_d[3]" LOC = C10 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_d[2]" LOC = A10 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_d[1]" LOC = A11 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_d[0]" LOC = A12 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

# inputs to YM2151
NET "ym_ic_n" LOC =  A4  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_a0"   LOC =  AA3 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_wr_n" LOC =  AB3 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_rd_n" LOC =  AA4 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "ym_pm"   LOC =  AB2 | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
#NET "ym_cs_n" LOC =  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;


# Pins on headerJ2 and J15
# B4    B6
# A4 A5 A6 A7 A8 A9 A10 A11 A12
#                   C10
# 
#     AA3 AA4 AA6     AA8 AA10
# AB2 AB3     AB6 AB7 AB8 AB10
# Y7                



# PlanAhead Generated IO constraints 
NET "ym_d[7]" PULLUP;
NET "ym_d[6]" PULLUP;
NET "ym_d[5]" PULLUP;
NET "ym_d[4]" PULLUP;
NET "ym_d[3]" PULLUP;
NET "ym_d[2]" PULLUP;
NET "ym_d[1]" PULLUP;
NET "ym_d[0]" PULLUP;

#Created by Constraints Editor (xc3s700a-fg484-4) - 2015/02/02
NET "clk50" TNM_NET = clk50;
TIMESPEC TS_clk50 = PERIOD "clk50" 20 ns HIGH 50%;
NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 60 ns HIGH 50%;

